<!DOCTYPE html>
<html>
    <head>
        <title>
            teacher
        </title>
    </head>
    <body>
        <table>
            <tr>
                <th>
                    name
                </th>
                <th>
                    age
                </th>
                <th>
                    subject
                </th>
            </tr>
            {% for i in data %}
                <tr>
                    <td>
                        {{ i.name }}
                    </td>
                    <td>
                        {{ i.age }}
                    </td>
                    <td>
                        {{ i.subject }}
                    </td>
                </tr>
            {% endfor %}
{#            {{ data.name }}:{{ data.subject }}#}
        </table>
    </body>
</html>