<!DOCTYPE html>
<html>
    <head>
        <title>
            hello
        </title>
    </head>
    <body>
{#        {{ request }}#}
{#        <br>#}
{#        {{ request.path }}#}
{#        <br>#}
{#        {{ request.get_host }}#}
{#        <br>#}
{#        {{ request.get_full_path }}#}
{#        <br>#}
{#        {{ request.is_secure }}#}
        <br>
{#        {% for i,j in request.META.items %}#}
{#            {{ i }}:{{ j }}#}
{#            <br>#}
{#        {% endfor %}#}
    </body>
</html>