<!DOCTYPE html>
<html>
    <head>
        <title>
            hello
        </title>
    </head>
    <body>
        My name is {{ name }},I am {{ age }} years old,I am a {{ gender }},my major is {{ major }}.<br>
        user:{{ user }}
        <br>
        perms:{{ perms.all }}
        <br>
        {{ messages }}
        <br>
        debug:{{ debug }}
        <br>
        {{ sql_queries }}
        <br>
        {{ LANGUAGES }}
        <br>
        {{ LANGUAGE_CODE }}
        <br>
{#        {{ request.REMOTE_ADDR }}#}
        {{ request }}


    </body>
</html>